<!-- Modal Popup -->
<div class="modal" id="modal-new-card">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">New Card</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Question</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="question" placeholder="Question">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Explanation (optional)</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="description" placeholder="Explanation (optional)">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="inputPassword" class="col-lg-2 control-label">Color</label>
                            <div class="col-lg-10 colors">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group pull-right" style="margin-right:0px;">
                    <div>
                        <button type="reset" data-dismiss="modal" class="btn btn-default">Cancel</button>
                        <button type="submit" id="btn-create-card" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">Your Decision Cards</h1>
        </div>
    </div>
    <div class="row" id="cardBoard">
        <div class="col-md-4 col-sm-5 card-new">
            <a href="#modal-new-card" data-toggle="modal">
                <div class="panel panel-primary card-content">
                    <div class="panel-body">
                        <h1 class="text-center"><span class="glyphicon glyphicon-plus"></span></h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<!--<script>-->
    <!--$( '#new-card-modal div.colors' ).children( 'div' ).each( function( i, el ) {-->
        <!--var element = $(el);-->
        <!--if (i === 0) element.addClass('active');-->
        <!--element.on('click', function() {-->
            <!--element.addClass('active');-->
            <!--element.siblings().removeClass('active');-->
        <!--});-->
    <!--});-->
<!--</script>-->



