<div class="panel panel-primary option">
    <div class="card-img-holder" style="background-image: url(images/liverpool-white-kit.jpg);"></div>
    <div class="panel-body">
        <span class="label label-danger">Ignore</span>
        <a href="#" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        <div class="clearfix"></div>
        <h4>Away Jersey</h4>
        <small>
            <ul class="list-unstyled list-group">
                <li><span class="glyphicon glyphicon-map-marker"></span>Yangon</li>
                <li><span class="glyphicon glyphicon-link"></span>www.testing.com</li>
                <li><span class="glyphicon glyphicon-thumbs-up"></span>Votes (0)</li>
            </ul>
        </small>
    </div>
    <div class="panel-footer text-center">
        <a class="disabled"><span class="glyphicon glyphicon-ban-circle text-muted"></span></a>
        <!--<a href="#" class="btn"><span class="glyphicon glyphicon-ok"></span></a>-->
    </div>
</div>