body {
    padding-top: 42px;
    padding-bottom: 30px;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 1.6em 0;
    text-align: center;
    height: 0;
    font-size: 1.125rem;
    font-family: Lato-Bold;
}

.divider span {
    position: relative;
    top: -.5em;
    padding: 0 1em;
    background: #4e5d6c;
    font-weight: bold;
    font-family: Lato;
}

.btn.facebook {
    background: #3b5998;
    text-decoration: none;
    color: white;
    padding: .8rem 1.6rem .6rem 1.6rem;
}

h1.page-title {
    margin-bottom: 30px;
}

.card .card-content {
    /*padding-top:3em;*/
    background-color: #3a63ad;
    height: 130px;
    max-height: 130px;
    overflow: hidden;
}
.card a {
    text-decoration: none;
    color: white;
    font-family: Lato;
}
.card .card-title {
    font-family: Lato-Regular;
    line-height: 1.3em;
}
/*.card .panel-body {*/
    /*position: absolute;*/
    /*bottom: 15px;*/
/*}*/
.card .card-buttons {
    /*padding-top:15px;*/
}
.card .card-footer {
    /*border-top: 1px solid #999;*/
    background-color: #3a63ad;
}

.card-new .card-content {
    height: 130px;
    max-height: 130px;
    background-color: #323c46;
}
.card-new .card-content span.glyphicon-plus {
    margin-top: 10px;
    color: #4E5D6C;
    transition: color 0.5s ease;
}
.card-new .card-content:hover span.glyphicon-plus {
    color: #EBEBEB;
}
#modal-new-card a.color {
    display: block;
    color: #3A63AD;
    width: 80px;
    height: 80px;
}
#modal-new-card div.colors div {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color:#3A63AD;
    height:50px;
    width:70px;
    cursor: pointer;
}
#modal-new-card div.colors div.active {
    border: 8px solid rgba(0,0,0,.7);
}

.card-1 .card-content {
    background-color: #9b7e61;
}

.card-1 .card-footer {
    background-color: #9b7e61;
}

.card-2 .card-content {
    background-color: #46c66d;
}

.card-2 .card-footer {
    background-color: #46c66d;
}

/* dc9fbb */

.card-3 .card-content {
    color: #333;
    background-color: #dc9fbb;
}

.card-3 .card-footer {
    background-color: #dc9fbb;
}

.card-big {

}

.card-big .card-content {
    border-radius: 2px 10px !important;
    height: 100%;
    max-height: 100%;
}

/* OPTIONS Style */
.option {
    border-radius: 8px;
}

.option a {
    font-size: 1.5em;
    border-radius: 8px;
}

.option .panel-body h5 {
    font-weight: bold;
}

.option .button-settings {
    font-size:15px;
    color:#3d4956;
    margin-left: 5px;
}

.option .button-settings:hover {
    color: #485563;
}

.option .link-vote {
    color: #bebebe;
    /*background-color: #df691a;*/
    /*border-radius: 50%;*/
    /*width: 30px;*/
    /*height: 30px;*/
}

.option .link-vote:hover {
    color: #fff;
    transition: color 0.5s ease;
}

.option a.disabled {
    display:inline-block;
    padding:8px 16px;
    margin: 1px;
}

.option li {
    line-height: 23px;
}

.option li span.glyphicon {
    margin-right: 8px;
}

.option .card-img-holder {
    position: relative;
    padding-bottom: 70%;
    height: 80px;
    background-color: rgba(0,0,0,.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    cursor: zoom-in;
}

.option .card-img-holder {
    text-align: center;
}

.option .card-img-holder b {
    font-size: 15px;
}

.option .card-img-holder h2 {
    margin-top: 55px;
}

.upload-image-holder {
    position: relative;
    max-width:200px;
    padding-bottom: 50%;
    background-color: rgba(0,0,0,.1);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    overflow: hidden;
    cursor: zoom-in;
}

#option-new-model form input[type=file] {
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: Arial;
    font-size: 118px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    opacity: 0;
}


/* PARTICIPANTS Style */
/*.participants {*/
    /*height: 600px;*/
    /*max-height: 100%;*/
/*}*/
.participants a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.participants .active a {
    color: #df691a;
}

.participants a:hover {
    color: #f0ad4e;
}

/* Responsive Code */
@media (max-width: 510px) {
    .card .card-buttons {
        padding-top:15px;
    }
}

/* Theme Color Set */
.theme-blue .background {
    background-color: #3059a1;
}
.theme-blue .sub-background {
    background-color: #2d5294;
}
.theme-blue .badge-background {
    background-color: #264782;
}
.theme-blue .alert-background {
    background-color: #323c54;
}

.theme-grey .background {
    background-color: #616870;
}

.theme-cygan .background {
    background-color: #00b4cc;
}

.theme-green .background {
    background-color: #3bc264;
}
.theme-green .sub-background {
    background-color: #34ae59;
}
.theme-green .badge-background {
    background-color: #2b9a4d;
}
.theme-green .alert-background {
    background-color: #485563;
}
/*.theme-green .item-background {*/
    /*background-color: white;*/
/*}*/
/*.theme-green {*/
    /*color: #555;*/
/*}*/

.theme-yellow .background {
    background-color: #f7e05f;
}

.theme-purple .background {
    background-color: #b564b5;
}
.theme-purple .sub-background {
    background-color: #a35aa3;
}
.theme-purple .badge-background {
    background-color: #915091;
}

.theme-brown .background {
    background-color: #9b7e61;
}
.theme-brown .sub-background {
    background-color: #8c7258;
}
.theme-brown .badge-background {
    background-color: #7c654e;
}


/* Media Query */
.optionsBoard:before, .optionsBoard:after {
    content: " ";
    display: table
}

.optionsBoard:after {
    clear: both;
}

.optionsBoard {
    *zoom: 1;
}

.optionsBoard {
    margin: 0 0 20px;
}

@media (min-width: 600px) {
    .option {
        width: 45%;
        margin: 0 10px 10px 0;
        float: left;
        max-width: 240px
    }

    .option:nth-child(2n+1) {
        clear: both
    }
}

@media (min-width: 768px) {
    .option {
        width: 270px;
        max-width: 270px;
    }
}

@media (min-width: 991px) {
    .option:nth-child(2n+1) {
        clear: both;
    }
}

@media (min-width: 992px) {
    .option:nth-child(2n+1) {
        clear: none;
    }

    .option:nth-child(3n+1) {
        clear: both;
    }
}

@media (min-width: 1200px) {
    .option:nth-child(3n+1) {
        clear: none;
    }

    .option:nth-child(4n+1) {
        clear: both
    }
}

@media (min-width: 1600px) {
    .option:nth-child(4n+1) {
        clear: none;
    }

    .option:nth-child(5n+1) {
        clear: both
    }
}

/*@media (min-width: 600px) {*/
    /*.card {*/
        /*width: 45%;*/
        /*margin: 0 10px 10px 0;*/
        /*float: left;*/
        /*max-width: 240px*/
    /*}*/

    /*.card:nth-child(2n+1) {*/
        /*clear: both*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.card {*/
        /*width: 250px;*/
        /*max-width: 250px*/
    /*}*/

    /*.card:nth-child(2n+1) {*/
        /*clear: none*/
    /*}*/
/*}*/

/*@media (min-width: 800px) {*/
    /*.card:nth-child(3n+1) {*/
        /*clear: both*/
    /*}*/
/*}*/

/*@media (min-width: 1150px) {*/
    /*.card:nth-child(3n+1) {*/
        /*clear: none*/
    /*}*/

    /*.card:nth-child(4n+1) {*/
        /*clear: both*/
    /*}*/
/*}*/

/*@media (min-width: 1600px) {*/
    /*.card:nth-child(4n+1) {*/
        /*clear: none*/
    /*}*/

    /*.card:nth-child(5n+1) {*/
        /*clear: both*/
    /*}*/
/*}*/